.banner1 {
    background: linear-gradient(90deg, #2b2a2a 0%, rgba(241, 91, 34, 0) 100%), url(../../../assets/banner/2.avif);
    background-position: top bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.banner2 {
    background: linear-gradient(90deg, #2b2a2a 0%, rgba(241, 91, 34, 0) 100%), url(../../../assets/banner/2.jpg);
    background-position: top bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.banner3 {
    background: linear-gradient(90deg, #2b2a2a 0%, rgba(241, 91, 34, 0) 100%), url(../../../assets/banner/3.jpg);
    background-position: top bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.font {
    margin-top: 90px;
    margin-bottom: 10px;
    font-size: 90px;
    color: bisque;
}

@media screen and (max-width:576px) {
    .font {
        margin-top: 80px;
        font-size: 40px;
    }
}